# Node
node_modules/

# Hardhat
artifacts/
cache/
typechain/
coverage/
coverage.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local

# Editor
.vscode/
.idea/
.DS_Store

# Frontend build
web/dist/
web/node_modules/
